/*
** Fonts
** -----------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@font-face {
   font-family: 'Quirlycues';
   src: url(../fonts/Quirlycues.ttf);
}

/* HEADER 
*********/
header {
  position: relative;
  background-color: black;
  height: 40vh;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
}

#headerRec {
  position: relative;
  background-color: black;
  height: 10vh;
  min-height: 15rem;
  width: 100%;
  overflow: hidden;
}


header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.1;
  z-index: -3;
  border-radius:10px;

}



/*
** Base html
** -----------------------------------------------------------------------------
*/

body {
  background-color:white;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.50;
  background-image: url("../images/whitegranite.jpg");
  background-position: center;
background-size:;
 }

a{
    color: #4CBB17;
    transition: .7s;
}
a:hover{
    color:blue;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.container{
    padding: 15px;
}

.adBanner{
    width: 100%;
    height: 100px;
}
.titleContainer{
   display:none;
}
#ctcTitle{
    
}
#ctcsubTitle{
   
    
}

/*
** Splash Screen
** -----------------------------------------------------------------------------
*/

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ;
  z-index: 42;
}

/*
** Website Logo
** -----------------------------------------------------------------------------
*/

#logo {
  width: 100%;
  min-height: 225px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to left, rgba(96, 96, 96, .7),
    rgba(96, 96, 96, .7)),
    url("../images/kitchen-banner.jpg");
}
#logo img {
  height: 100px;
  width: auto;
  margin-top: 10px;
}
#logo h1 {
  font-family: 'Quirlycues';
  font-size: 52px;
  font-weight: normal;
  padding-top: 10px;
  color: #f9f9f9;
}

#inList{
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  padding-top: 10px;
  color: #333!important;
}


#inListI {
    color: #333;
    font-weight: bold;
    font-size: 30px;
    transition: .5s;
}
.button, #inListI:hover{
    cursor:pointer;
    color: red;
    
}

.button{
    border-radius: 10px;
    height:auto;
    width: auto;
    
}
.btnSelected{
    border: 2px solid #4CBB17!important;
}
.span1{
    margin:auto;
}

.foodIcons{
    background-image: url(../images/blackgranite5.jpg);
    text-align: center;
    width: 125px;
    height: 60px;
    margin-left: 30px;
    margin-bottom:30px;
    padding-top: 1px;
    transition: .5s;
    color: white;
    font-weight: normal;
    box-shadow:0 20px 50px rgba(0,0,0,.5);

}
.foodIcons:hover{
    color: #4CBB17!important;
    transform: scale(1.1);
    box-shadow:0 30px 60px rgba(0,0,0,.9);
}
#load_me_baby{
    transition: .5s;
}
#load_me_baby:hover{
    transform: scale(1.1);
    box-shadow:0 30px 60px rgba(0,0,0,.9);

}

/*
** Modal Loader
** -----------------------------------------------------------------------------
*/
/** SPINNER CREATION **/

.loader {
    color: #666;
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/** MODAL STYLING **/

.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.1;
}

.loader-txt {
  p {
    font-size: 13px;
    color: #666!important;
    small {
      font-size: 11.5px;
      color: #666!important;
    }
  }
}

#output {
  padding: 25px 15px;
  background: #222;
  border: 1px solid #222;
  max-width: 350px;
  margin: 35px auto;
  font-family: 'Roboto', sans-serif !important;
  p.subtle {
    color: #555;
    font-style: italic;
    font-family: 'Roboto', sans-serif !important;
  }
  h4 {
    font-weight: 300 !important;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif !important;
  }
  p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9em;
    b {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}

/*
** Recipes Categories
** -----------------------------------------------------------------------------
*/
.card {
    padding: 20px;
    border: 0px solid black;
    top:50%;
    left:45%;
    transform:translate(-50%,-50%);
    min-width:300px;
    height:550px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.5);
    border-radius:10px;
    margin: 15px;
    font-weight: bold;
    background-image: url(../images/blackgranite5.jpg);
}
.innercard::-webkit-scrollbar {
    width: 1em;
}
 
.innercard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.innercard::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid #333;
}
.cardrecipes{
    opacity: 0;
}
.card-image{
 border-radius:20px;
}

.card-title{
    height: 175px;
}


.innercard{
    overflow-y: scroll;
    margin-bottom: 20px;
}
.card:hover {
    transition: .7s;
    box-shadow:0 30px 70px rgba(0,0,0,.9);
}
.card .box {
    position:absolute;
    top:40%;
    left:0;
    transform:translateY(-50%);
    text-align:left;
    padding:30px;
    box-sizing:border-box;
    width:100%;
    font-weight: bold;
}
#inginput{
    position:absolute;
    margin: auto;
    bottom:0;
    left: 0;
    width:100%;
    min-height: 60px;
}
.card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}

#categories {
  background-color: ;
  padding-top: 12px;
  padding-bottom: 24px;
}
#categories h2 {
  color: #333;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin-bottom: 12px;
    text-decoration: underline;
}
.category-item {
  border: 2px;
  border-color: #16F367;
  border-radius: 2.5px;
  border-style: solid !important;
  background-color: rgba(0, 155, 0, .75);
  color: #f9f9f9;
  font-weight: bold;
  margin-top: 6px;
}
.category-item i {
  padding-top: 6px;
  padding-bottom: 3px;
}
.show-all {
  margin-top: 12px;
}
#itemcontrol{
    float:right;!important
}
.stepz li:hover {
-webkit-transform: scale(1.1);
    transform: scale(1.1);
     
}

.stepz {
  margin: 5px;
  padding: 5px;
  list-style-type: none;
}
.stepzli{
    opacity: 0;
}

.stepz li  {
    font-size: 17px;
  counter-increment: step-counter;
  margin-bottom: 30px;
  list-style-type:none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .stepz li{
        font-size: 14px;
    }
    
    .foodIcons{
        font-size: 14px;
        width: 100px;
        height: 50px;
    }
    
    #inList{
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      padding-top: 10px;
      color: #333!important;
    }
    
    #inListI {
        color: #333;
        font-weight: bold;
        font-size: 25px;
        transition: 1s;
    }
    
    .ingredients-list dt {
      color: #666;
      width: 45%;
      float: left;
      margin: 0 0 8px;
      padding: 0 10px;
      font-size: 8px;
      line-height: 37px;
      background: #f9f9f9;
      -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
      box-shadow: 0 1px 0 rgba(0,0,0,.15);
    }

  
}

.stepz li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #4CBB17;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

/*
** Recipes Items
** -----------------------------------------------------------------------------
*/
.recipepage{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
   
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.btn-recipe{
    margin:10px;
    background: #4CBB17;
    color: white;
    
}
.btn-recipe:hover{
    background: white;
    color: black;
}
.fa {
    font-size: 20px;
    color: #4CBB17;
}
.fas {
    font-size: 20px;
    color: #4CBB17 ;
}

#items {
    text-align: center;
  background-color: ;
  padding-top: 12px;
  padding-bottom: 24px;
}
#items h2 {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin-bottom: 12px;
}
#items h3 {
  margin-top: 12px;
  color: #333;
  font-weight: bold;
}
.recipe-item {
  border: 0px solid black;
  margin-bottom: 24px;
  padding-bottom: 12px;
  background-color: ;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-item img {
  width: 100%;
  height: auto;
}

/*
** Recipe Section
** -----------------------------------------------------------------------------
*/

#recipe {
  background-color:;
  padding-top: 12px;
  padding-bottom: 24px;
}
#recipe h2 {
  color: #333;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin-bottom: 24px;
  margin-top: 12px;
}
#recipe h3 {
    color: #333;
  margin-top: 24px;
}
.recipe-picture {
    border-radius: 5px;
  max-width: 90%;
  height: auto;
  margin-bottom: 24px;
  margin-top: 6px;
  -webkit-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
  -moz-box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
  box-shadow:
    0px 0px 0px 2px rgba(0,0,0,0.6),
    0px 0px 0px 14px #fff,
    0px 0px 0px 18px rgba(0,0,0,0.2),
    6px 6px 8px 17px #555;
}

.recipe-info .row {
  margin-top: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: ;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-info h3{
   color: #333!important;
    height:60px;
}
.recipe-info h4{
   color: #333!important;
    height:40px;
}

.recipe-info i {
  color: #4CBB17;
    font-size: 40px;
}
.recipe-ingredients {
  background-color: #333;
  margin-top: 24px;
}
.ingredients-list dl {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.ingredients-list dt {
  color: #666;
  width: 35%;
  float: left;
  margin: 0 0 8px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 37px;
  background: #f9f9f9;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.ingredients-list dd {
  width: 50%;
  float: left;
  margin: 0 0 8px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 37px;
  font-weight: 600;
font-size: 12px;
  background: #4CBB17;
  color: #f9f9f9;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-directions ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.recipe-directions ol ol {
    margin: 0 0 0 2em;
}
.recipe-directions li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #f9f9f9;
    color: #222;
    text-decoration: none;
    transition: all .3s ease-out;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.recipe-directions li:hover{
    background: #f1f1f1;
}
.recipe-directions li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #4CBB17;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: #f9f9f9;
}
.recipe-directions li:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
.recipe-directions li:hover:after{
    left: -.5em;
    border-left-color: #a44c9f;
}

/*
** Website Footer
** -----------------------------------------------------------------------------
*/

footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to left, rgba(96, 96, 96, .7),
    rgba(96, 95, 96, .7)),
    url("../images/kitchen-banner.jpg");  
    color: #f9f9f9;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 25px;
}
.footer-about {
  margin-bottom: 40px;
  font-style: italic;
}
.footer-author {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.footer-author a {
  color: #f9f9f9;
  font-weight: bold;
}
