<!DOCTYPE html>
<html lang="en">
   <head>
       <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130305383-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-130305383-1');
        </script>
       
      <!-- Basic meta info
         ==================== -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Recipe Book</title>
      <!-- Favicon
         ============ -->
      <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png" />
      <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png" />
      <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png" />
      <!-- CSS files
         ============== -->
      <link rel="stylesheet" type="text/css" href="css/reset.css" />
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"  />
      <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
      <link rel="stylesheet" type="text/css" href="css/styles.css" />
      <!-- Modernizr file
         =================== -->
      <script charset="utf-8" type="text/javascript "src="js/modernizr.custom.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7331281358375451",
        enable_page_level_ads: true
      });
    </script>
   </head>
   <body class="recBody">
      <!--***** Angular Script Section****** 
         =====================================================-->
      <script>
         var app = angular.module('myApp', []);
         app.controller('customersCtrl', function($scope, $http) {
                     $scope.selRecipeId = Cookies.get("selRecipe");
                        //http://clearthecupboard.com/api/v1/recipe/main
                        //http://localhost:8081/
                     $.post("http://clearthecupboard.com/api/v1/recipe/main", {
                             value: $scope.selRecipeId
                         }, function(data, status) {
                         $scope.myData = data;
                         console.log($scope.myData);
                         
                         $scope.ingAmounts = [];
                             for(var i=0; i<$scope.myData.extendedIngredients.length; i++){
                                 $scope.ingAmounts.push(($scope.myData.extendedIngredients[i].amount).toFixed(1))
                             }
                             $scope.ingMeasure = [];
                             for(var i=0; i<$scope.myData.extendedIngredients.length;i++){
                                 $scope.ingMeasure.push($scope.myData.extendedIngredients[i].measures.us.unitShort)
                             }
                             
                             $scope.ingNames = [];
                             for(var i=0; i<$scope.myData.extendedIngredients.length; i++){
                                 $scope.ingNames.push($scope.myData.extendedIngredients[i].name)
                             }
                             
                             $scope.steps = [];
                             if($scope.myData.analyzedInstructions.length != 0){
                                 console.log("Steps Detected");
                                 for(var i=0; i<$scope.myData.analyzedInstructions.length; i++){
                                     for(var y=0; y<$scope.myData.analyzedInstructions[i].steps.length; y++){
                                         $scope.steps.push($scope.myData.analyzedInstructions[i].steps[y].step);
                                     }
                                 }
                             }
                         $scope.$apply();
                     });
         });
      </script>
      <!-- Splash Screen
         ================== -->
      <div id="splash"></div>
      <!-- Website Video Header
         ================= -->
      <header id="headerRec">
          <div class="overlay"></div>
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="images/Shakshuka.mp4" type="video/mp4">
          </video>
          <div class="container h-100">
            <div class="d-flex text-center h-100">
              <div class="my-auto w-100 text-white">
                <div class="container text-center wow pulse">
                    <img src="images/logo-white.svg" style="height: 100px;" alt="logo" />
                    <br />
                    <h1>Recipe Book</h1>
                 </div>
              </div>
            </div>
          </div>
        </header>
       
      <!-- Modal -->
      <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
         <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
               <div class="modal-body text-center">
                  <div class="loader"></div>
                  <div clas="loader-txt">
                     <p style="color: #666"> Loading Recipe </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Recipe Section
         =================== -->
      <div ng-app="myApp" ng-controller="customersCtrl">
         <div id="recipe">
            <div class="container">
                <div class="adBanner"></div>
               <div class="row">
                  <!-- Title -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <h2>{{myData.title}}</h2>
                  </div>
               </div>
               <div class="row vertical-align">
                  <div class="col-12">
                     <!-- Picture -->
                     <div class="col-md-8 pull-left wow swing">
                        <img src="{{myData.image}}" alt="{{myData.title}}" class="recipe-picture" />
                     </div>
                     <!-- Info -->
                     <div class="col-md-4 pull-right wow lightSpeedIn">
                        <div class="recipe-info">
                           <h3>Info</h3>
                           <!-- Time -->
                           <div class="row">
                              <div class="col-2 text-center">
                                 <i class="fa fa-clock-o" aria-hidden="true"></i>
                              </div>
                              <div class="col-6"><h4>Time</h4></div>
                              <div class="col-4"><h4>{{myData.readyInMinutes}} Mins</h4></div>
                           </div>
                           <!-- Difficulty 
                              <div class="row">
                                <div class="col-2 text-center">
                                  <i class="fa fa-area-chart" aria-hidden="true"></i>
                                </div>
                                <div class="col-6">Difficulty</div>
                                <div class="col-4">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                              </div>-->
                           <!-- Serves -->
                           <div class="row">
                              <div class="col-2 text-center">
                                 <i class="fa fa-users" aria-hidden="true"></i>
                              </div>
                               <div class="col-6"><h4>Servings</h4></div>
                               <div class="col-4"><h4>{{myData.servings}}</h4></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Ingredients 
                  -->
               <div class="row wow slideInUp">
                  <div class="col-12">
                     <h3>Ingredients</h3>
                     <div class="recipe-ingredients" >
                        <dl class="ingredients-list" ng-repeat="amount in ingAmounts track by $index">
                           <dt>{{amount}}<span style ="color: rgba(0, 155, 0, .75);"> {{ingMeasure[$index]}}</span></dt>
                           <dd>{{ingNames[$index]}}</dd>
                        </dl>
                     </div>
                  </div>
               </div>
               <!-- Directions -->
               <div class="row wow slideInUp">
                  <div class="col-12">
                     <div class="recipe-directions">
                        <h3 >Directions</h3>
                        <ol ng-click="followsteps()">
                           <li ng-repeat="steps in steps track by $index">{{steps}}</li>
                        </ol>
                        <h3>See the recipe source <a href="{{myData.sourceUrl}}" target="_blank">here</a></h3>
                     </div>
                  </div>
               </div>
               <br>
               <!-- Back to recipes -->
               <div class="row wow rollIn">
                  <div class="col-12 text-center">
                     <a style="font-size: 30px;" href="index.html">
                     <i class="fa fa-backward" aria-hidden="true"></i>
                     Go to back to recipes.
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Website Footer
         =================== -->
      <footer>
         <div class="container">
            <div class="row">
               <!-- About -->
               <div class="col-md-6 col-sm-12 text-center">
                  <h3>About</h3>
                  <div class="footer-about">
                     "Clear-The-Cupboard is a web app for using those last bits of food in your fridge and cupboard, give it a try and start finding recipes to your liking today! ”
                  </div><br>
               </div>
               <!-- Author -->
               <div class="col-md-6 col-sm-12 text-center">
                  <div class="footer-author">
                     Made with
                     <i class="fa fa-heart" aria-hidden="true"></i>
                     love by
                     <a href="http://smallworldwebdevelopment.com/" target="_blank"> Cameron Bowler</a><br>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- JavaScript files
         ===================== -->
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script charset="utf-8" src="js/jquery-3.3.1.min.js"></script>
      <script charset="utf-8" src="js/bootstrap.min.js"></script>
      <script charset="utf-8" src="js/wow.min.js"></script>
      <script charset="utf-8" src="js/scripts.js"></script>
      <!--***** Modal Loader Script Section****** 
         =====================================================-->
      <script>
         $(document).ready(function() {
             
            
             function followsteps(){
                 $('.followsteps').css("border", "1px solid red");
                 console.log("followsteps function");
             }
             
                     //Adding a delay so we can see the functionality of the loader while request processes    
                     $("#loadMe").modal({
                         backdrop: "static", //remove ability to close modal with click
                         keyboard: false, //remove option to close with keyboard
                         show: true //Display loader!
                         
                     });
                     setTimeout(function(){
                         $("#loadMe").modal("hide");
                         
                     }, 2500);
             });
      </script>
   </body>
</html>
